body {

    margin: 0;

    padding: 0;

}
 

img {

    border-bottom-right-radius: 30px;

}

 

#apa{

    background-color: white;

    width: 265px;

    height: 50px;

    border-color: white;

    border-radius: 10px;

    box-shadow: black;

    margin-left: 300px;

    font-size: x-large;

    color: #046DE6;

}

 

a{

    margin-left: 50px;

}

 

#doa{

    background-color: #046DE6;

    width: 265px;

    height: 50px;

    border-color: #046DE6;

    border-radius: 10px;

    box-shadow: black;

    color: white;

    font-size: x-large;

}


    #footer {

        padding: 0;
    
        background-color: #6EA9E4;
    
        margin-bottom: 0;
    
        font-family: 'Inter', sans-serif;
    
        color: white;
    
        font-size: 40px;
    
        padding: 25px;
    
    }

    #header {

        padding: 0;
    
        background-color: #6EA9E4;
    
        margin: 0;
    
        font-family: 'Inter', sans-serif;
    
        color: white;
    
        font-size: 40px;
    
    }
   